.partners{
    background: url("../assets/companies2Img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.partners_layout{
    background: rgba(0, 0, 0, 0.738);
}